body {
    background-image: url('../image/av.jpg');
    background-size: cover;
    box-sizing: border-box;
}

nav {
    width: 90%;
    height: 20px;
    margin: auto;
    margin-top: 83px;
    align-items: center;
    padding-right: 9px;
    padding-left:6px;
    background-image: url('../image/hbg.jpeg');
}

ul {
    display: flex;
    justify-content: space-between;
}

li a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

li {
    list-style: none;
}

#masterpage {
    width: 90%;
    height: 80px;
    position: absolute;
    top: 0;
    margin-left: 60px;
}

.footer {
    color: black;
    position: absolute;
    bottom: 0;
    display: flex;
    margin-left: 50px;
    background-image: url('../image/hbg.jpeg');
    height: 40px;
}
/**********class***/
.data {
    display: flex;
}

.container1 {
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 100px;
    width: 30%;
    background-image: url('../image/c2.jpg');
    /*background-color: #FF926A;*/
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: transform 0.3s;
}

    .container1 ul {
        display: flex;
        flex-direction: column;
    }

    .container1 li {
        padding: 10px;
    }

.container2 {
    margin-top: 150px;
    width: 30%;
    background-image: url('../image/c1.jpg');
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: transform 0.2s;
}

    .container2 ul {
        display: flex;
        flex-direction: column;
    }

    .container2 li {
        padding: 10px;
    }

    .container1:hover, .container2:hover {
        transform: scale(1.1);
    }
/***********id*****/
#con1Name {
    margin-left: 80px;
}

#con2Name {
    margin-left: 80px;
}

#footer1 {
    padding-left: 20px;
}

#footer2 {
    margin-left: 600px;
    padding-right: 20px;
}
#logout {
    margin-top: 2px;
    width: 15px;
    height: 15px;
}

/*#contact {
    width: 17px;
    height: 17px;
    margin-top: 1px;
}
*/
#home {
    margin-top: 2px;
    width: 17px;
    height: 17px;
}