#calendar {
    margin-top: 150px;
    margin-left: 200px;
    width: 240px;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    background-image: url('../image/c1.jpg');
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    font-size: larger;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: aliceblue;
    box-shadow: 0 6px 6px rgba(0.1, 0.1, 0.1, 0.1);
   
}

.day {
    border: 1px solid #ccc;
    padding: 4px;
    text-align: center;
    height: 35px;
    border-bottom: 4px solid rgb(14, 96, 23);
}

.container {
    display: flex;
    flex-direction: row;
}
 
