.container {
    width: 25%;
    margin-left: 550px;
    margin-top: 80px;
    background-color: white;
    text-align:center;
    border-radius: 20px;
    border-top: 15px solid lightsalmon;
    box-shadow: 0 6px 6px rgba(0.1, 0.1, 0.1, 0.1);
}

::placeholder {
    font-size: 15px;
}
#txtPhone
{
    margin-bottom:20px;
    width:200px;
    height:30px;
}
#txtPswd
{
    margin-bottom:20px;
    width:200px;
    height:30px;
}
#txtCPswd
{
    margin-bottom:25px;
    width:200px;
    height:35px;
}
#reset
{
    background-color:lightsalmon;
    width:200px;
    height:30px;
    border-radius:10px;
    margin-bottom:25px;
}
#lblPhone
{
    margin-right:150px;
}
#lblPswd
{
    margin-right:100px;
}
#lblCPswd
{
    margin-right:80px;
}

nav {
    width: 90%;
    height: 20px;
    margin: auto;
    margin-top: 83px;
    align-items: center;
    padding-left: 7px;
    padding-right: 6px;
    background-image: url('../image/hbg.jpeg');
}

ul {
    display: flex;
    justify-content: space-between;
}

li a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

li {
    list-style: none;
}
#logout {
    margin-top: 2px;
    width: 15px;
    height: 15px;
}

#contact {
    width: 17px;
    height: 17px;
    margin-top: 1px;
}

#home {
    margin-top: 2px;
    width: 17px;
    height: 17px;
}