.container {
    width:42%;
    margin-top: 10px;
    margin-left: 390px;
    background-color: white;
    border-radius: 20px;
    text-align:center;
    align-items:center;
    border-top: 15px solid lightsalmon;
    box-shadow: 0 6px 6px rgba(0.1, 0.1, 0.1, 0.1);
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left:10px;
    margin-bottom:50px;
}
nav {
    width: 90%;
    height: 30px;
    margin: auto;
    margin-top: 83px;
    align-items: center;
    padding-left: 7px;
    padding-right: 6px;
    background-image: url('../image/hbg.jpeg');
}

ul {
    display: flex;
    justify-content: space-between;
}

li a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

li {
    list-style: none;
}

#logout {
    margin-top: 7px;
    width: 15px;
    height: 15px;
}

#contact {
    width: 17px;
    height: 17px;
    margin-top: 5px;
}

#home {
    margin-top: 5px;
    width: 17px;
    height: 17px;
}